.bg-div13 {
  position: absolute;
  height: 100%;
  width: 100vw;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #171717;
}
.phone-icon34 {
  position: absolute;
  top: 128px;
  left: 369px;
  width: 20px;
  height: 20px;
  overflow: hidden;
}
.siga-nas-redes-sociais12 {
  position: absolute;
  top: 50.29%;
  left: 9.24%;
  font-size: 14px;
  font-weight: 500;
  display: inline-block;
}
.nauber-2022-todos-os-direito12 {
  position: absolute;
  top: 81.14%;
  left: 9.24%;
  display: inline-block;
}
.nauber-maquinas-e-equipamentos12,
.politicas-de-privacidade-ter12 {
  position: absolute;
  width: 22.36%;
  top: 81.14%;
  left: 68.26%;
  text-align: right;
  display: inline-block;
}
.nauber-maquinas-e-equipamentos12 {
  width: 30.28%;
  top: 62.28%;
  left: 60.21%;
}
.redes-sociais-icon12 {
  position: absolute;
  height: 4.43%;
  width: 7.84%;
  top: 56.97%;
  right: 82.93%;
  bottom: 38.6%;
  left: 9.24%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.converse-com-um-especialista12,
.envie-um-e-mail12,
.ficou-com-dvidas12,
.voltar-ao-incio12 {
  position: absolute;
  top: 30.48%;
  left: 0;
  font-weight: 500;
  display: inline-block;
}
.envie-um-e-mail12,
.ficou-com-dvidas12,
.voltar-ao-incio12 {
  top: 57.14%;
}
.ficou-com-dvidas12,
.voltar-ao-incio12 {
  top: 83.81%;
}
.ficou-com-dvidas12 {
  top: 0;
  color: #fff;
}
.dvidas-div12 {
  position: absolute;
  height: 20.63%;
  width: 14.24%;
  top: 12.38%;
  right: 34.79%;
  bottom: 66.99%;
  left: 50.97%;
  font-size: 14px;
  color: #8d8b8b;
}
.construo-civil-div12,
.linha-industrial-div13 {
  position: absolute;
  top: 41.56%;
  left: 0;
  font-weight: 500;
  display: inline-block;
}
.linha-industrial-div13 {
  top: 77.92%;
}
.produtos-div38 {
  position: absolute;
  height: 15.13%;
  width: 7.5%;
  top: 12.38%;
  right: 83.26%;
  bottom: 72.5%;
  left: 9.24%;
  font-size: 14px;
  color: #8d8b8b;
}
.rua-mal-castelo12 {
  margin-block-start: 0;
  margin-block-end: 0;
}
.schroeder-sc12 {
  margin: 0;
}
.div59,
.div60,
.div61,
.nossa-sede-div25,
.rua-mal-castelo-branco-247713 {
  position: absolute;
  top: 23.88%;
  left: -0.14%;
  font-weight: 500;
  display: inline-block;
}
.div59,
.div60,
.div61,
.nossa-sede-div25 {
  top: 105.99%;
}
.div60,
.div61,
.nossa-sede-div25 {
  top: 70.9%;
  left: 0;
}
.div61,
.nossa-sede-div25 {
  top: 88.81%;
}
.nossa-sede-div25 {
  top: 0;
  left: 0.86%;
  font-size: 14px;
  color: #fff;
}
.nossa-sede-div24 {
  position: absolute;
  height: 26.33%;
  width: 16.11%;
  top: 11.98%;
  right: 56.6%;
  bottom: 61.69%;
  left: 27.29%;
  color: #8d8b8b;
}
.pin-icon13 {
  position: absolute;
  top: 102.5px;
  left: 378px;
  width: 11px;
  height: 11px;
  overflow: hidden;
}
.line-div31 {
  position: absolute;
  height: 0.2%;
  width: 81.32%;
  top: 71.41%;
  right: 9.48%;
  bottom: 28.39%;
  left: 9.2%;
  border-top: 1px solid #fff;
  box-sizing: border-box;
}
.logo-nauber-icon12 {
  position: absolute;
  height: 10.22%;
  width: 18.61%;
  top: 11.94%;
  right: 9.51%;
  bottom: 77.84%;
  left: 71.88%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.rectangle-div295 {
  position: absolute;
  height: 123.58%;
  width: 40.63%;
  top: -251.08%;
  right: 50%;
  bottom: 227.5%;
  left: 9.38%;
  background-color: #dedada;
  display: none;
}
.airless {
  position: absolute;
  top: -20rem;
  left: 0;
  width: 455px;
  height: 279px;
  object-fit: cover;
}
.vector-icon68,
.vector-icon69,
.vector-icon70 {
  position: absolute;
  top: 0;
  left: 775px;
  width: 455px;
  height: 279px;
  object-fit: cover;
}
.lixadeiras {
  position: absolute;
  top: -2rem;
  left: 0;
  width: 455px;
  height: 279px;
  object-fit: cover;
}
.vector-fresadora {
  position: absolute;
  top: -1rem;
  left: 0;
  width: 455px;
  height: 279px;
  object-fit: cover;
}
.vector-icon69,
.vector-icon70 {
  left: 388px;
}
.vector-icon70 {
  left: 0;
}
.vector-icon71 {
  position: absolute;
  top: 0;
  left: 0;
  width: 388.27px;
  height: 43px;
}
.projetoras-de-textura1 {
  position: absolute;
  top: 0px;
  left: 62.45px;
  display: inline-block;
  opacity: 1;
}
.projetoras-de-textura {
  position: absolute;
  top: 209px;
  left: 391.55px;
  width: 388.27px;
  height: 43px;
}
.equipamentos-airless-div {
  position: absolute;
  top: 0px;
  left: 68.45px;
  display: inline-block;
  opacity: 1;
}
.projetoras-de-textura2 {
  position: absolute;
  top: 209px;
  width: 388.27px;
  height: 43px;
}
.demarcao-viria-div {
  position: absolute;
  top: 0;
  left: 80.45px;
  display: inline-block;
  opacity: 1;
}
.projetoras-de-textura3 {
  position: absolute;
  top: 209px;
  left: 782.55px;
  width: 388.27px;
  height: 43px;
}
.a {
  position: absolute;
  top: 0;
  left: 7px;
  width: 1230px;
  height: 279px;
}
.vector-icon74 {
  top: 369px;
  left: 881px;
  width: 455px;
  object-fit: cover;
  display: none;
}
.vector-icon75,
.vector-icon76,
.vector-icon77 {
  position: absolute;
  top: -18rem;
  left: 775px;
  width: 455px;
  height: 279px;
  object-fit: cover;
}
.vector-icon76,
.vector-icon77 {
  left: 388px;
top: -18rem;
}
.bicos-airless {
  position: absolute;
  top: -20rem;
  left: 388px;
  width: 455px;
  height: 279px;
  object-fit: cover;
}
.vector-icon77 {
  left: 0rem;
}
.vector-icon78 {
  position: absolute;
  top: -18rem;
  left: 76.9rem;
  width: 388.92px;
  height: 43px;
}
.vector-bicos {
  position: absolute;
  top: -20rem;
  left: 77.2rem;
  width: 388.92px;
  height: 43px;
}
.filmes-de-mascaramento-bar {
  position: absolute;
  top: -7rem;
  left: 52rem;
  width: 388.92px;
  height: 43px;
}
.aspiradores-bar {
  position: absolute;
  top: -18rem;
  left: 1235px;
  display: inline-block;
}
.aspiradores-div2 {
  position: absolute;
  top: -18rem;
  left: 84rem;
  display: inline-block;
}
.aspiradores-div1 {
  position: absolute;
  top: 208px;
  left: -787.85px;
  width: 388.92px;
  height: 43px;
  text-align: left;
}
.vector-icon79 {
  position: absolute;
  top: -18rem;
  left: 77rem;
  width: 388.28px;
  height: 43px;
}


.lixadeiras-div1 {
  position: absolute;
  top: -18rem;
  left: 85rem;
  display: inline-block;
  opacity: 1;
}
.aspiradores-div3 {
  position: absolute;
  top: 208px;
  left: -1172.1px;
  width: 388.28px;
  height: 43px;
}
.misturadores-div1 {
  position: absolute;
  top: -18rem;
  left: 83rem;
  display: inline-block;
  opacity: 1;
  /*! transform: rotate(180deg); */
}
.aspiradores-div4 {
  position: absolute;
  top: 208px;
  left: -396.85px;
  width: 388.92px;
  height: 43px;
}
.quadro-linha-2 {
  position: absolute;
  top: 36rem;
  left: 0;
  height: 279px;
}
.vector-icon81,
.vector-icon83,
.vector-icon84 {
  position: absolute;
  top: 0;
  left: 384px;
  width: 455px;
  height: 279px;
  object-fit: cover;
}
.vector-icon83,
.vector-icon84 {
  left: 775px;
  /*! transform: rotate(180deg); */
}
.vector-desempenadeiras{
  position: absolute;
  top: -1rem;
  left: 775px;
  width: 455px;
  height: 279px;
  object-fit: cover;
}
.Filmes {
  position: absolute;
  top: -20rem;
  left: 774px;
  width: 455px;
  height: 279px;
  object-fit: cover;
}
.lixav {
  position: absolute;
  top: -38px;
  left: 68.45px;
  display: inline-block;
  opacity: 1;
}
.acessorios-img {
  position: absolute;
  top: -2rem;
  left: 775px;
  width: 455px;
  height: 279px;
  object-fit: cover;
}
.acessorios-bar {
  position: absolute;
  top: 10.5rem;
  left: 49.1rem;
  }
  .acessorios-div {
    position: absolute;
    top: 10.5rem;
    left: 57rem;
  }
.Pecas-img {
  position: absolute;
  top: -2rem;
  left: 388px;
  width: 455px;
  height: 279px;
  object-fit: cover;
}
.Pecas-bar {
  position: absolute;
  top: 10.5rem;
  left: 24.9rem;
}
.Pecas-div {
  position: absolute;
  left: 35rem;
  top: 10.5rem;
  }
.vector-icon84 {
  top: 663px;
  left: 0;
  width: 561px;
  display: none;
}
.vector-icon85 {
  position: absolute;
  top: 0;
  left: 0;
  width: 388.29px;
  height: 43px;
}
.compressor-div1 {
  position: absolute;
  top: -15px;
  left: 124.39px;
  display: inline-block;
}
.compressorDiv {
  position: absolute;
  top: 209px;
  left: 398.61px;
  width: 388.29px;
  height: 43px;
  color: rgba(239, 182, 0, 0.5);
}
.vector-icon86 {
  position: absolute;
  top: -1rem;
  left: 0px;
  width: 388.35px;
  height: 43px;
}
.compresserBar {
  position: absolute;
  top: -1rem;
  left: -3px;
  width: 388.35px;
  height: 43px;
  color: rgba(239, 182, 0, 0.5);
}
.vector-compressor {
  position: absolute;
  top: -1rem;
  left: 388px;
  width: 455px;
  height: 279px;
  object-fit: cover;
}
.fresadora-div {
  position: absolute;
  top: -15px;
  left: 129.45px;
  display: inline-block;
  opacity: 1;
}
.compressor-div2,
.vector-icon87 {
  position: absolute;
  top: 209px;
  left: 7.55px;
  width: 388.35px;
  height: 43px;
}
.vector-icon87 {
  top: -1rem;
  left: -7px;
  width: 388.21px;
}
.desempenadeiras-div {
  position: absolute;
  top: -15px;
  left: 88.39px;
  display: inline-block;
  opacity: 1;
}
.compressor-div3 {
  position: absolute;
  top: 209px;
  left: 789.61px;
  width: 388.21px;
  height: 43px;
}
.quadro-linha-3 {
  position: absolute;
  top: 592px;
  left: 0;
  width: 1237px;
  height: 279px;
}
.bicos-airless-div1 {
  position: absolute;
  top: -20rem;
  left: 84rem;
  display: inline-block;
  white-space: nowrap;
}
.bicos-airless-div,
.vector-icon93 {
  position: absolute;
  top: 207px;
  left: -788.13px;
  width: 388.92px;
  height: 43px;
}
.vector-icon93 {
  top: 377px;
  left: 881px;
  width: 455px;
  height: 279px;
  object-fit: cover;
  display: none;
}
.vector-icon94 {
  position: absolute;
  top: -20rem;
  left: 52.9rem;
  width: 388.92px;
  height: 43px;
}
.equipamentos-airless-bar {
  position: absolute;
  top: -2.5rem;
  left: 2px;
  width: 388.92px;
  height: 43px;
}
.pistolas-airless-div {
  position: absolute;
  top: -19.8rem;
  left: 59rem;
  display: inline-block;
  /*! transform: rotate(180deg); */
  white-space: nowrap;
}
.bicos-airless-div2 {
  position: absolute;
  top: -18rem;
  left: 0rem;
  width: 1237px;
  height: 279px;
}
.filmes-de-mascaramento {
  position: absolute;
  top: -7rem;
  left: 55rem;
  display: inline-block;
  /*! transform: rotate(180deg); */
  white-space: nowrap;
}
.quadro-linha-4 {
  position: absolute;
  top: 74rem;
  left: 0rem;
  /*! width: 1237px; */
  height: 279px;
  /*! transform: rotate(180deg); */
  /*! transform-origin: 0 0; */
  color: rgba(239, 182, 0, 0.5);
}
.vector-icon97 {
  position: absolute;
  top: 1243px;
  left: 99px;
  width: 455px;
  height: 279px;
  object-fit: cover;
  display: none;
}
.vector-icon98 {
  position: absolute;
  top: 0;
  left: 0;
  width: 388.27px;
  height: 43px;
  opacity: 0.3;
}
.group-div26,
.quadro-linha-5 {
  position: absolute;
  top: 1184px;
  left: 0;
  width: 455px;
  height: 279px;
}
.group-div26 {
  top: 75px;
  left: 99px;
  width: 1237px;
  height: 1455px;
  text-align: center;
  font-size: 36px;
  color: #efb600;
  font-family: "Bebas Neue";
}


/* Footer
*/

.footer-div25 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-family: "Inter";
  color: #fff;
}
.footer-div24 {
  position: absolute;
  top: 1545px;
  left: 0;
  width: 100vw;
  height: 509px;
}

/**/
.projetorasDeTextura {
  filter: brightness(40%);

}

.projetorasDeTextura:hover {
  filter: brightness(100%);
  transition: 0.2s;
}



.quadro-linha-1 {
  position: absolute;
  margin-left: 2rem;
}



.quadro-linha-2 {
  margin-left: 2rem;
}

.quadro-linha-3 {
  margin-left: 2rem;
}

.quadro-linha-4 {
  margin-left: 2rem;
}

.quadro-linha-5 {
  margin-left: 2rem;
}

.airless-bar {
  position: absolute;
  top: 0;
  left: 0px;
  width: 388.27px;
  height: 43px;
}

.projetoras-bar {
  position: absolute;
top: 0;
left: 4px;
width: 388.27px;
height: 43px;
}

.fresadora-bar {
  position: absolute;
  top: -1rem;
  left: -1px;
  width: 388.35px;
  height: 43px;
}